:host {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #48484a;
}

#time {
  font-size: 3rem;
  margin-bottom: 0.4rem;
}

#date {
  font-size: 1.4rem;
  margin-bottom: 2.2rem;
}

#image {
  margin-top: -2rem;
}

#sunrise,
#sunset {
  margin-right: 0.4rem;
}

#day {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  color: #636365;

  .row {
    display: flex;
    & + .row {
      margin-top: 0.6rem;
    }
  }
}

#temperature {
  font-size: 3rem;
  margin-left: 1rem;
  margin-top: -3rem;
}

#conditions {
  font-size: 1.4rem;
  font-weight: 400;
}

#forecast {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-around;

  .pop {
    font-size: 1rem;
    margin-top: 0.6rem;
    margin-left: 0.4rem;
  }

  .temp {
    font-weight: 600;
    margin-left: 0.3rem;
  }

  .label {
    color: #636365;
    font-size: 1rem;
  }
}
