@import "../scss/tile-icon";

app-tile {
  bottom: 0;

  &.open {
    bottom: calc(100% - 22.5rem);
  }
}

svg,
path,
app-tile {
  transition: all 15s;
}

svg {
  &.open {
    filter: drop-shadow(0 0 8px $icon-color-active);
  }
}

path {
  &.open {
    fill: $icon-color-active;
  }
}

#track {
  width: 1rem;
  height: calc(100% - 18rem);
  background-color: #323746;
  box-shadow: inset 0px 0px 6px #707c9e;
  border-radius: 0.5rem;
  border: solid 2px #707c9e;
}

// Pulsing of the glow...

// @keyframes GlowSlide {
//   0% {
//     filter: drop-shadow(0 0 5px $icon-color-active);
//   }
//   50% {
//     filter: drop-shadow(0 0 10px $icon-color-active);
//   }
//   100% {
//     filter: drop-shadow(0 0 5px $icon-color-active);
//   }
// }
