$bg-red: rgb(239, 220, 220);
$highlight-red: rgb(219, 84, 84);

:host {
  padding: 0.6rem 1rem;
  background-color: $bg-red;
  border-radius: 0.3rem;
  font-size: 1.4rem;
  color: rgb(146, 39, 39);
  border: 0.1rem solid $highlight-red;
}

button {
  color: $highlight-red;
  float: right;
}
