@font-face {
  font-family: "roboto";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: "roboto";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/Roboto-Regular.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

body {
  background: radial-gradient(at right bottom, #807c7962, #e4e1de99);
  font-family: "roboto";
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.divider {
  border: 1px solid rgb(199, 199, 199);
}

.alt-button {
  width: 100%;
  display: flex;
  justify-content: center;
  border: solid rgb(211, 211, 211) 0.2rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  padding: 1rem 0;
  background-color: #d7d7d7;
}
